[Unit]
Description=Java-WebSocket systemd activation demo socket
PartOf=jws-activation.service

[Socket]
ListenStream=127.0.0.1:9999

[Install]
WantedBy=sockets.target
